* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: pink;
 color:black ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size:14px ;
 font-family: Arial, Helvetica, sans-serif;
}

button {
 cursor: pointer;
}
/* estilos CSS */
.form{
    
    padding-left: 40px;
    border: 2px solid;
   
  
   

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 200%;
    margin: 30px;

}
h1{
    color: blue;
}
h4{
    color: brown;
}
h2{
    color: blue;
}
.enviar:hover{
    background-color: chartreuse;

}
@media (max-width: 768px){

.body{
    display: flex;
    flex-direction: column;


}
} 